@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1180px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}

.banner {
  height: 300px;
  background-size: cover !important;
  display: flex;
  align-items: flex-end;
}

.banner h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 33.18px;
  line-height: 120%;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 50px;
  margin-top: auto;
}